.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.article {

}

.bg-info a {
  color: black;
}

@media (max-width : 567px) {
  .lead {
    font-size: 1rem!important;
  }
}